*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif ;
    box-sizing: border-box;
}
body{
    background: rgb(5, 47, 63);
}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
}
.container p{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
}
.container input{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
.container button{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(71, 71, 216);
    background: rgb(96, 96, 212);
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    outline: 0;
    font-weight : 500;
    cursor: pointer;
    /* padding: 10px; */
    margin: 10px 0 ;
    border-radius: 5px;
}
#imgbox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
}
#imgbox img{
    width: 100%;
    padding: 10px;
}
#imgbox.show-img{
    max-height: 300px;
    margin: 10px  auto;
    border: 1px solid #d2d1d1;
}
.error {
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(-2px);
    }
    50%{
        transform: translate(0);
    }
    75%{
        transform: translate(2px);
    }
    100%{
        transform: translate(0);
    }
}
